.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background: var(--plate-color);
}

.title{
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search{
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--secondary-font-color);
    padding: 10px;
    border-radius: 10px;
}

.input{
    background-color: transparent;
    border: none;
    color: var(--text-color);
    outline: none;
}

.icons{
    display: flex;
    gap: 20px;
}